 <h3><a href="/<%= recipes[i].id %>"><%= recipes[i].title %></a></h3>
    <p><%= recipes[i].ingredient %></p>
    <p><%= recipes[i].method %></p>
     <ul>Cook time:<%= recipes[i].cookTime %></ul>
      <ul>Prep time:<%= recipes[i].prepTime %></ul>
      <ul>Serves:<%= recipes[i].serves %></ul>
      <ul>Skill:<%= recipes[i].skill %></ul>

 <div class="row">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <img src="#">
                <p>text Here</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <img src="#">
                <p>text Here</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <img src="#">
                <p>text Here</p>
            </div>
        </div>
    </div>
</div>