<h1><%= user.first_name%>'s Dashboard</h1>

<div class="row">
<% for(var i = 0; i < user.recipes.length; i++ ) { %>
	<div class="container">
	    <div class="panel panel-default col-lg-12">
	      	<div class="showImg"><img src="<%=user.recipes[i].url%>"></div>
		    <div class="panel-body">
		      	<h3><a href="/<%= user.recipes[i].id %>"><%= user.recipes[i].title %></a></h3>
			    <p><%= user.recipes[i].ingredient %></p>
				<p><%= user.recipes[i].method %></p>
				<p>Cook Time: <%= user.recipes[i].cookTime %></p>
				<p>Prep Time: <%= user.recipes[i].prepTime %></p>
				<p>Serves: <%= user.recipes[i].serves %></p>
				<p>Skill Level: <%= user.recipes[i].skill %></p>
		    </div>
	    </div>
	</div>
<% } %> 
</div>