<h1>Recipe Page</h1>
<p>Welcome, <%= user.first_name %> to the recipe page!</p>
<% for(var i = 0; i < recipes.length; i++ ) { %>
  <div>
    <h3><a href="/<%= recipes[i].id %>"><%= recipes[i].title %></a></h3>
    <p><%= recipes[i].ingredient %></p>
    <p><%= recipes[i].method %></p>
    <p><%= recipes[i].cookTime %></p>
    <p><%= recipes[i].prepTime %></p>
    <p><%= recipes[i].serves %></p>
    <p><%= recipes[i].skill %></p>
  </div>
 <% } %>


<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://wallpaperscraft.com/image/macaron_french_confection_dessert_98412_1024x768.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example textaxflhjlash;dgdjsg;ajs;gsjkagfjgsgjfhdsghlgdfdajfddhcaneq cgjgAJGDJ; ;GAJDGDG; dg g ;dJFGUGIEUIGQWUO EQGWIQGQIG; QWG;UQWGBQLIWHGW UEGDG UGIUQUI UI QQPIGQUGU	GAJDGDGFJGDWFHGHQGEWHFGQ GGEGEJFKKJDSAFDGFGIUIEWWJSABAHJFHJEQW EQWHFJEJWFGKJWQ FEQWHQFHJHWF;HWQ QHJHFEJFQJFGQWEFGKJQWKJFQWEGFFEQ F to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>