<h1>Show (enter a new page title)</h1>
<div class="row">
	<div class="container">
	    <div class="panel panel-default col-lg-12">
	      	<div class="showImg"><img src="/images/ColorScheme.jpg"></div>
		    <div class="panel-body">
		      	<h2><%= recipe.title %></h2>
			    <p><%= recipe.ingredient %></p>
				<p><%= recipe.method %></p>
				<p><%= recipe.cookTime %></p>
				<p><%= recipe.prepTime %></p>
				<p><%= recipe.serves %></p>
				<p><%= recipe.skill %></p>
		    </div>
	    	<a class="btn btn-danger padding" href="/<%= recipe.id %>/edit">edit</a>
	    </div>
	</div>
</div>
<form action="/<%= recipe.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete" class="btn btn-danger">
</form> 